{
  "mcpServers": {
    "grafana": {
      "command": "uv",
      "args": [
        "--directory",
        "/ABSOLUTE/PATH/TO/grafana-mcp",
        "run",
        "main.py"
      ],
      "env": {
        "GRAFANA_CLUSTERS": "local=http://localhost:3000 dev=https://dev.example.com/grafana stage=https://stage.example.com/grafana prod=https://app.example.com/grafana",
        "GRAFANA_DEFAULT_CLUSTER": "local",
        "GRAFANA_TOKENS": "dev=super stage=secret prod=token"
      }
    }
  }
}